<h3>Friend book</h3>

{{ friendModel | json }}

<form #formName="ngForm" novalidate (ngSubmit)="onSubmit()">
  <label for="fname">First name: </label><br>
  <input #fname="ngModel" [(ngModel)]="friendModel.fname" required="required" class="form-control"
         [class.error]="fname.invalid && fname.touched" pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" type="text" id="fname" name="fname" ><br>

  <label for="lname">Last name: </label><br>
  <input #lname="ngModel" [(ngModel)]="friendModel.lname" required="required" class="form-control"
         [class.error]="lname.invalid && lname.touched" pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" type="text" id="lname" name="lname"><br>

  <label for="email">Email: </label><br>
  <input #email="ngModel" [(ngModel)]="friendModel.email" required="required" class="form-control"
         [class.error]="email.invalid && email.touched" pattern="^[0-9a-zA-Z|-|.]+@[0-9a-zA-Z|-]+.[0-9a-zA-Z|-]+$" type="text" id="email" name="email"><br>

  <label for="phoneNumber">Phone number: </label><br>
  <input #phone="ngModel" [(ngModel)]="friendModel.phoneNumber" required="required" class="form-control"
         [class.error]="phone.invalid && phone.touched" pattern="^([()\- x+]*\d[()\- x+]*){4,16}$" type="number" id="phoneNumber" name="phoneNumber"><br>

  <label for="languages">Favourite language: </label><br>

  <!--
  <select name="languages" id="language">
    <option value="javascript">Javascript</option>
    <option value="php">PHP</option>
    <option value="python">Python</option>
  </select><br>
  -->

  <select #language="ngModel" [(ngModel)]="friendModel.language" required="required"
          class="form-control" id="languages" name="languages">
    <option *ngFor="let language of languages" [ngValue]="language">{{language}}</option>
  </select><br>

  <button [disabled]="formName.form.invalid" type="button">Submit</button>

</form>

<!--
<div *ngFor="let friend of allFriends"></div>
<ul>
  <li>Friend: {{ fname }}{{ lname }} </li>
  <li>Email: {{ email }} </li>
  <li>Phone: {{ phone }}</li>
  <li>Favorite language: {{ language}}</li>
</ul>
-->
