<!doctype html>
<html lang="en">
<head>
  <title>Friend book</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h3>Friend book</h3>

{{ friendModel | json }}

<form method="POST" action="" #formName="ngForm" novalidate (ngSubmit)="addFriend()">
  <label for="fname">First name: </label><br>
  <input #fname="ngModel" [(ngModel)]="friendModel.fname" required="required" class="form-control"
         [class.error]="fname.invalid && fname.touched" pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" type="text" id="fname" name="fname" ><br>

  <label for="lname">Last name: </label><br>
  <input #lname="ngModel" [(ngModel)]="friendModel.lname" required="required" class="form-control"
         [class.error]="lname.invalid && lname.touched" pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" type="text" id="lname" name="lname"><br>

  <label for="email">Email: </label><br>
  <input #email="ngModel" [(ngModel)]="friendModel.email" required="required" class="form-control"
         [class.error]="email.invalid && email.touched" pattern="^[0-9a-zA-Z|-|.]+@[0-9a-zA-Z|-]+.[0-9a-zA-Z|-]+$" type="text" id="email" name="email"><br>

  <label for="phoneNumber">Phone number: </label><br>
  <input #phone="ngModel" [(ngModel)]="friendModel.phoneNumber" required="required" class="form-control"
         [class.error]="phone.invalid && phone.touched" pattern="^([()\- x+]*\d[()\- x+]*){4,16}$" type="number" id="phoneNumber" name="phoneNumber"><br>

  <label for="languages">Favourite language: </label><br>

  <!--
  <select name="languages" id="language">
    <option value="javascript">Javascript</option>
    <option value="php">PHP</option>
    <option value="python">Python</option>
  </select><br>
  -->

  <select #language="ngModel" [(ngModel)]="friendModel.language" required="required"
          class="form-control" id="languages" name="languages">
    <option *ngFor="let language of languages" [ngValue]="language">{{language}}</option>
  </select><br>

  <button [disabled]="formName.form.invalid" type="button">Submit</button>
</form>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
